.ztj-frame .logo {
    height: 32px;
    /* background: rgba(255, 255, 255, 0.2); */
    margin: 16px;
}
.ztj-frame .frame-header{
  background: #fff;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 15px;
}
.ztj-frame .frame-header img{
  width: 24px;
  display: inline-block;
  margin: 0 5px;
}